@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

:root {
  --main-color: #a9d0f5;
  --main-font-size: 14px;
  --small-font-size: 16px;
  --large-font-size: 18px;
}

body {
  width: 800px;
  margin: auto;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: 1.5;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  border-bottom: 5px solid var(--main-color);
}
header h2 {
  font-weight: 700;
  font-size: var(--large-font-size);
}
header a:visited {
  color: #37352f;
}
header article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* main */
main {
  padding: 20px 15px;
}
main .myImg {
  width: 150px;
  height: 150px;
}
main h2 {
  font-weight: 700;
  font-size: var(--large-font-size);
}
main h2::before {
  content: "";
  width: 8px;
  float: left;
  height: 25px;
  background: var(--main-color);
  margin-right: 10px;
}
main section + section {
  margin-top: 20px;
}
main article[class*="_cont"] {
  display: flex;
}
